.add_friends_container{
    background-color: var(--background_color); 
    height: 100vh;
    overflow: hidden;
    color: var(--color_font);   
    display:flex;
    flex-direction: column; 
    gap: 1em;
    padding: 1em;
}

.user_list_container{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}