.nav_mod {
    background-color: var(--nav_color);
    position: fixed;
    width: 100vw;
    bottom: 0;
    padding: 0.6em;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
}
.group_icon_nav_mod{
    display: flex;
    justify-content: space-around;   
}
.group_icon_nav_mod a{
    text-decoration: none;
}
.icon_nav_mod_container {
    color: var(--color_font);
    text-decoration: none;  
    display: flex;
    flex-direction: column;        
}

.icon_nav_mod{
    font-size: 1.5em;
}

.text_icon_nav_mod{
    font-size: 0.7em;
    
}

.icon_nav_mod_container:hover,
.icon_nav_mod_container:focus {
    color: var(--primary_color);
    cursor: pointer;
}