.payment_method_container {
    height: 94.3vh;
    background-color: var(--background_color);
    display: flex;
    flex-direction: column;
    padding: 0.7em;
    gap: 1em;
}

.payment_methods_container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    overflow: auto;
}
.payment_methods_container::-webkit-scrollbar {
    display: none;
}
.button_payment_method {
    background-color: var(--primary_color);
    color: var(--secundary_color);
    padding: 0.3em;
    text-align: center;
    border-radius: 0.3em;
}