.library_container{
    background-color: var(--background_color); 
    height: 95.3vh;
    overflow: hidden;
    color: var(--color_font);   
    display:flex;
    flex-direction: column; 
    gap: 1em;
    padding: 1em;
}
