.info_book_container{
    background-color: var(--background_color); 
    height: 95.3vh;
    overflow: hidden;
    color: var(--color_font);
    display:flex;
    flex-direction: column; 
    gap: 1em;
    padding: 1em;
}
.info_sup{
    display: flex;
    gap: 1em;
}
.info_sup img{
    width: 10em;
    border-radius: 0.5em;
}
.info_sup h1{
    font-size: 1.5em;
}

.info_book{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.buttons_info_book{
    display: flex;
    align-items: center;
    gap: 2em;
}
.favorite_button{
    font-weight: 700;
    font-size: 1.9em;
}
.favorite_button.favorite{
   color: var(--primary_color);
}